<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- the application context definition for the springapp DispatcherServlet -->

	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="classpath:messages" ></property>
	</bean>

	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver" >
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" ></property>
		<property name="prefix" value="/WEB-INF/jsp/" ></property>
		<property name="suffix" value=".jsp" ></property>
	</bean>

	<!-- Imports user-defined @Controller beans that process client requests -->
	<context:component-scan base-package="exercisesmanager.web"/>
	<context:component-scan base-package="exercisesmanager.pojos"/>

    
	<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />

	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />

	<bean id="dataSource" destroy-method="close" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost:3306/exercise"/>
		<!--
		<property name="username" value="appuser"/>
		<property name="password" value="appuserpwd"/>
		-->
		<property name="username" value="root"/>
		<property name="password" value="rootpwd"/>
		<property name="maxActive" value="20"/>
		<property name="maxIdle" value="5"/>
		<property name="minIdle" value="1"/>
		<property name="poolPreparedStatements" value="true"/>
		<property name="initialSize" value="1"/>
	</bean>
	
	<!-- enable the configuration of transactional behavior based on annotations -->
	<tx:annotation-driven transaction-manager="transactionManager"/>

	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<!-- Bean -->
	
	<bean id="userDao" class="exercisesmanager.dao.implementors.UserDaoImpl" scope="singleton"/>

	<bean id="user" class="exercisesmanager.pojos.User" scope="session"/>

	<bean id="activity" class="exercisesmanager.pojos.Activity" scope="session"/>
	     
	<bean id="registerUser" class="exercisesmanager.pojos.RegisterUser" scope="session"/>
		
	
	<!-- internationalization -->
	<bean id="localeChangeInterceptor" class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
    	<property name="paramName" value="lang" />
	</bean>

	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
		<property name="defaultLocale" value="en"/>
	</bean>

	<bean id="handlerMapping" class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
		<property name="interceptors">
			<ref bean="localeChangeInterceptor" />
		</property>
	</bean>

</beans>